/*
Main styling
*/
@font-face
{
  font-family: !!font-import!!;
  src: url(!!font-import-url!!);
}

body
{
  background-color: !!page-background-color!!;
  font-family: !!font-family!!;
  font-size: !!font-size!!;
  color: !!text-color!!;
  margin: 0;
}

h1
{
  font-size: 2.5em;
  background-color: !!highlight-background-color!!;
  color: !!highlight-color!!;
}
h2, code
{
  font-size: 1.2rem;
}
h3
{
  font-size: 1.2rem;
}
a
{
  /*font-size: 1.25em;*/
  font-size: 1.25rem;
}
p
{
  font-size: 1.1rem;
}
h1, h2, h3, p, a
{
  margin: 0;
  padding: .5rem;
  padding-bottom: .75rem;
}

::selection
{
  color: !!selection-color!!;
  background-color: !!selection-background-color!!;
}

.clear
{
  clear: both;
}

/*
Header 
*/
header
{
  display: block;
  margin: 0;
  padding: 0;
  background-color: !!header-background-color!!;
  border-bottom: .1em solid !!border-color!!;
}

header a,
header img
{
  display: inline-block;
  height: 2.5em;
  width: auto;
  margin: 0;
}

header a
{
  padding-top: .75em;
  padding-bottom: .25em;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 4em;
}

@media(orientation:portrait)
{
  #logo-link
  {
    padding: 0;
    margin: 0;
  }
  
  header img
  {
    padding: 0;
    margin: 0 15%;
    margin-top: 1em;
    width:70%;
    height:auto;
  }
}

/*
Navigation bar
*/
nav
{
  display: inline-block;
  vertical-align: bottom;
  padding: .5em;
}

nav ul
{
  display: inline;
  padding: 0
}

nav li
{
  display: inline;
}

nav li a:empty
{
  visibility: hidden;
}


nav li a, .link
{
  height: auto; 
  padding: .25em .5em;
  margin: .25em;
  background-color: !!button-background-color!!;
  color: !!text-color!!;
  box-shadow: .1em .1em .1em 0em !!shadow!!;
  border: .05em solid !!button-border-color!!;
}

.current_link
{
  background-color: !!current-link-background-color!!;
  border-color: !!nav-background-color!!;
  box-shadow: none;
  border: none;
  border-bottom: .24em solid !!button-underline-color!!;
  padding-left: .6em;
  padding-right: .6em;
  padding-top: .25em;
  padding-bottom: .1em;
}

.link:hover,
.link:focus,
.link:active
{
    border: .05em solid !!button-active-background-color!!;
}

nav a:hover,
nav a:focus,
nav a:active
{
  background-color: !!button-active-background-color!!;
  color: !!button-active-color!!;
  box-shadow: none;
}

/*
Links
*/
a
{
  text-decoration: none;
  color: !!link-color!!;
  margin: 0;
}

a:hover,
a:focus,
a:active
{
  color: !!link-active-color!!;
}

/*
Main Content
*/
#main
{
  background-color: !!main-background-color!!;
  padding: .5em;
}
#main-transparent
{
  background-color: !!main-transparent-background-color!!;
  padding: 1em;
}

@media(orientation:landscape)
{
  #main
  {
    margin:  0 12.5%;
  }
}

/*
Video and download link
*/
#videobox
{
  background-color: !!main-background-color!!;
  width: 70%;
  height: auto;
  margin: 0 15%;
  text-align: right;
  border: 1px solid !!text-color!!;
}

#videobox-embed
{
  background-color: !!main-background-color!!;
  width: 70%;
  height: 0;
  padding-bottom: 39.375%; /* width * 9 / 16 */
  margin: 0 15%;
  text-align: right;
  border: 1px solid !!text-color!!;
  position: relative;
}

#videobox-embed iframe
{
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#videobox p 
{
  display: inline-block;
  padding: 0;
  margin: 0;
}

#videobox a
{
  display: inline-block;
}

video
{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

@media(min-aspect-ratio: 2/1)
/* Float video next to text when the screen is wide.*/
{  
  #videobox
  {
    height: auto;
    width: 60%;
    float: right;
    margin: 2em 1em;
  }
  
  #videobox-embed
  {
    width: 60%;
    padding-bottom: 33.75%; /* width * 9 / 16 */
    margin: 1em 2em;
    float: right;
  }
}  

@media(orientation: portrait)
/* Stretch video when the screen is portrait. */
{
  #videobox
  {
    display: block;
    width: 100%;
    height: auto;
    margin: .1em 0;
    padding: 0px;
  }

  #videobox-embed
  {
    display: block;
    width: 100%;
    padding-bottom: 56.25%; /* width * 9 / 16 */;
    margin: .1em 0;
  }
}

/*
Footer
*/

footer
{
  background-color: !!footer-background-color!!;
  margin-top: 0em;
  border-top: .1em solid !!footer-border-color!!;
  padding: .5em 1em;
  margin-bottom: 0;
}

footer ul, footer li
{
  margin: .1em;
  padding: 0;
  display: inline-block;
}

footer li
{
  padding-right: 1em;  
}

footer a
{
  display: inline-block;
  font-weight: bold;
}
footer a:hover
footer a:focus
footer a:active
{
  text-decoration: underline;
}

/*
Contact Form
*/

form
{
  display: block;
  padding: 1em 0;
  padding-left: 5%;
  width: 90%;
}

form *
{
  font-family: !!font-family!!;
  font-size: 100%;
}

form input, form textarea
{
  display: block;
  min-height: 2em;
  padding: 1%;
  margin: 1% auto;
  width: 96%;
  color: !!text-color!!;
  border: 1px solid !!text-color!!;
}

form textarea
{
  min-height: 5em;
}

form label
{
  display: none;
}

.form_button
{
  color: !!button-color!!;
  background-color: !!button-background-color!!;
  margin: 1% 1%;
  width: 9em;
  box-shadow: .1em .1em .1em 0em !!shadow!!;
  border: .1em solid !!button-border-color!!;
}

.form_button:hover,
.form_button:focus,
.form_button:active
{
  background-color: !!button-active-background-color!!;
  color: !!button-active-color!!;
}

/*
Article preview stack/grid
*/
.article-previews
{
  margin: auto;
}

.article-stack-preview
{
  display: block;
  width:  100%;
  height: auto;
  padding:0;
  margin: 0;
  color: !!text-color!!;
  background-color: !!article-background-color!!;
  border: 1px solid !!article-border-color!!;
  transition: background-color .25s;
}

.article-stack-preview a
{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: !!text-color!!;
}

.article-stack-preview a:hover,
.article-stack-preview a:focus,
.article-stack-preview a:active
{
  background-color: !!article-active-background-color!!;
}

.article-stack-preview img
{
  float: left;
  width: auto;
  height: 4em;
  margin: .5em;
  padding: 0;
}

.article-grid
{
  margin: auto;
  /*font-size: 1em;*/
}

.article-grid-preview
{
  display: inline-block;
  vertical-align: middle;
  width:  10em;
  height: auto;
  margin: .5em;
  padding: 0;
  overflow: hidden;
  background-color: !!article-background-color!!;
} 

.article-grid-preview a
{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: !!text-color!!;
}

.article-grid-preview img
{
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  transition: opacity 0.25s;
  background-color: !!link-active-color!!;
}
.article-grid-preview img:hover,
.article-grid-preview img:focus,
.article-grid-preview img:active
{
  opacity: 0.5;
}
/*
Image view
*/
.image-view
{
  height: auto;
  margin: auto;
  text-align: center;
}

.image-view img
{
  height: 25em;
  max-height: 60vh;
  width: auto;
  margin: auto;
}

@media(orientation: portrait)
{
  .image-view img
  {
    width: 100%;
    height: auto;
  }
}

@media(min-aspect-ratio: 2/1)
{
  .image-view img
  {
    height: 25em;
    height: auto;
  }
}

/*
Blog
*/


.blog-button
{
  display: inline-block;
  color: !!button-color!!;
  background-color: !!button-background-color!!;
  margin: 1em auto;
  padding: .5em 1em;
  border: .1em solid !!button-border-color!!;
  box-shadow: .1em .1em .1em 0em !!shadow!!;
  font-size: 1.25em;
}
.blog-button:hover,
.blog-button:focus,
.blog-button:active
{
  color: !!button-active-color!!;
  background-color: !!button-active-background-color!!;
}

/*
Embedded content 
*/
.embed-frame
{
  display: block;
  width: 95%;
  height: 25em;
  margin: 2em;
  padding: 0;
}

.embed-square
{
  float: left;
  width: 25em;
  height: 25em;
  margin: 2em;
  padding: 0;
}

.embed
{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/*
code
*/

.code
{
  background-color: !!code-background-color!!;
  padding: 1em;
  margin: 1em 10%;
}
pre
{
  margin: 0;
}

/*
Highlight
*/
.highlight
{
  background-color: !!highlight-background-color!!;
  color: !!highlight-color!!; 
}

/*
Front page header
*/
.no-highlight
{
  background: none;
}

/*
Backgrounds
*/
#background
{
    !!background-image!!
}
#background-1
{
    !!background-image-1!!
}
#background-2
{
    !!background-image-2!!
}
#background-3
{
    !!background-image-3!!
}
#background-4
{
    !!background-image-4!!
}
#background-5
{
    !!background-image-5!!
}
#background-404
{
    !!background-image-404!!
}

/*
CV
*/
#cv
{
  margin-left: 15%;
  width: 70%
}