<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="Portfolio | Joshua Deakin">
    <title>
      Portfolio | Joshua Deakin
    </title>
    <link rel="stylesheet" href="./style.css">    
  </head>
  
  <body>
    <header>
      <img src="" alt="logo.png" height="100%", width="auto">
      <h1>Website Title</h1>
      <h2>Tagline</h2>
    </header>
    
    <nav>
      <ul>
          <li><p id="current">current</p></li>
          <li><a href="">link</a></li>
          <li><a href="">link</a></li>
          <li><a href="">link</a></li>
      </ul>
    </nav>
    
    <div id="videobox">
      <video controls poster="">
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        <source src="movie.webm" type="video/webm">
        Sorry, your browser does not support this video. You can download it bellow instead.
      </video>
      <p>download video as:</p>
      <a href="movie.mp4" title="Download this video as an mp4 file.">mp4</a>
      <a href="movie.ogg" title="Download this video as an ogg file.">ogg</a>
    </div>
    
    <div id="main">
      <h2>
        Page title
      </h2>
      <p>
        Sed imperdiet leo tellus, ac ornare erat blandit non. Nulla consectetur mi a lectus elementum porta. Nullam a tortor eu magna luctus imperdiet non a felis. Nullam maximus eros eu odio gravida, eleifend convallis nisl elementum. Maecenas tincidunt arcu feugiat, ornare sapien eu, bibendum augue. Etiam rutrum eget lacus ut auctor. Quisque volutpat sem felis, et iaculis nisi aliquet nec. Aliquam at velit at est pharetra porttitor quis semper ante. Donec ut vulputate erat, vitae feugiat purus. Suspendisse tempor tempus purus a fringilla. Mauris in tellus dapibus quam rhoncus pulvinar.
      </p>
    </div>

    <footer>
      <p>
        contact:
        <a href="mailto:user@email.com">user@email.com</a>
      </p>
      <ul>
          <li><a href="">weblink</a></li>
          <li><a href="">weblink</a></li>
          <li><a href="">weblink</a></li>
      </ul>
    </footer>
  </body>
</html>