/*----------------------------------------------------------------------------*/
/* Main styling
/*----------------------------------------------------------------------------*/
@font-face 
{
  font-family: Inconsolata;
  src: url(./fonts/Inconsolata/Inconsolata.otf);
}

body 
{  
  background-color: !!background-color!!;
  background-image: url("!!background-image!!");
  font-family: Inconsolata, Consolas, "Courier New", Courier, monospace;
  font-size: 100%; 
  color: !!primary-color!!;
  margin: 0;
  padding: 2.5%;
}

/*----------------------------------------------------------------------------*/
/* Header 
/*----------------------------------------------------------------------------*/
header
{
  margin: 0;
  padding: 0;
  min-height: 2em;
  width: 100%;
}

header *
{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-right: 2em;
  vertical-align: bottom;
}

header img
{
  height: 3em;
  width: auto;
}

header h1
{
  font-size: 2em;
  margin: 0 .1em;
}

header h2
{
  font-size: 1em;
  margin: 0 .1em;
}

/*----------------------------------------------------------------------------*/
/* Navigation bar
/*----------------------------------------------------------------------------*/
nav
{
  width: 99%;
  height: auto;
}

nav *
{
  padding: 0px;
  margin: 0px;
}

nav ul li
{
  display: inline-block;
  margin: 1em .5em;
  padding: .5em;
}

nav a 
{
  margin: 0;
  padding: .5em 2em;
  background-color: !!primary-color!!;
  color: !!secondary-color!!;
}

nav a:hover
{
  background-color: !!secondary-color!!;
  color: !!primary-color!!;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav a:active 
{
  background-color: !!secondary-color!!;
  color: !!primary-color!!;
  padding: .5em 2em;
  border-bottom: .25em solid !!primary-color!!;
  padding-bottom: .25em;
}

nav #current
{
  background-color: !!secondary-color!!;
  padding: .5em 2em;
  border-bottom: .25em solid !!primary-color!!;
  padding-bottom: .25em;
}


@media(orientation:portrait)
{
  nav #current
  {
    border-left: .25em solid !!primary-color!!;
    border-bottom-width: 0;
    padding-bottom: .5em;
  }
}

/*----------------------------------------------------------------------------*/
/* Main Content
/*----------------------------------------------------------------------------*/

#main
{
  width: 100%;
  align: auto;
}

#main h2
{
  font-size: 2.5em;
  margin: .2em;
}

#main p
{
  margin: .5em;
}

/*----------------------------------------------------------------------------*/
/* Video and download link
/*----------------------------------------------------------------------------*/
#videobox
{
  width: 70%;
  height: auto;
  margin: 0 15%;
  text-align: right;
  border: 1px solid !!primary-color!!;  
}

#videobox p 
{
  display: inline-block;
  padding: 0;
  margin: 0;
}

#videobox a
{
  display: inline-block;
  padding: .5em 1em;
  margin: 0;
  background-color: !!primary-color!!;
  color: !!secondary-color!!;
}

#videobox a:hover
{
  background-color: !!secondary-color!!;
  color: !!primary-color!!;
}

#videobox a:active 
{
  background-color: !!secondary-color!!;
  color: !!primary-color!!;
  border-bottom: .25em solid !!primary-color!!;
  padding-bottom: .25em;
}


video
{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

@media(min-aspect-ratio: 2/1)
/* Float video next to text when the screen is wide.*/
{  
  #videobox
  {
    height: auto;
    width: 50%;
    float: right;
    margin: 2em 2em;
  }
}  

@media(orientation: portrait)
/* Stretch video when the screen is portrait. */
{
  #videobox
  {
    display: block;
    width: 100%;
    height: auto;
    margin: .1em 0;
    padding: 0px;
  }
}

/*----------------------------------------------------------------------------*/
/* Footer
/*----------------------------------------------------------------------------*/

footer
{
  clear: both; /* So we don't jump above anything! */
  margin-top: .5em;
  border-top: .1em solid !!primary-color!!;
}

footer *
{
  margin: .5em .25em;
  padding: .1em;
  display: inline-block;
}

a
{
  text-decoration: none;
  padding: .5em 1em;
  margin: 0;
  background-color: !!primary-color!!;
  color: !!secondary-color!!;
}

a:hover
{
  background-color: !!secondary-color!!;
  color: !!primary-color!!;
}

a:active 
{
  background-color: !!secondary-color!!;
  color: !!primary-color!!;
  border-bottom: .25em solid !!primary-color!!;
  padding-bottom: .25em;
}